"bin/\nobj/" 
/.vs/SmarTrakWebAPI/FileContentIndex
/SmarTrakWebAPI/bin/Debug/net8.0
/SmarTrakWebAPI/appsettings.json
/SmarTrakWebAPI/bin/
/SmarTrakWebAPI/obj/
/SmarTrakWebAPI/.vs
/SmarTrakWebAPI/appsettings.Development.json
